<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>


<!-- Base Events -->
<settleNewColony.label>Aentar una colonia</settleNewColony.label>
<settleNewColony.desc>Una caravana esta formando una nueva colonia.</settleNewColony.desc>

<taxColony.label>Impuestos del asentamineto en ruta</taxColony.label>
<taxColony.desc>Una caravana trae impuestos de tu colonia a la capital.</taxColony.desc>

<constructBuilding.label>Construyendo edificios</constructBuilding.label>
<constructBuilding.desc>Un edificio esta siendo construido</constructBuilding.desc>

<enactSettlementPolicy.label>Promulgando politica</enactSettlementPolicy.label>
<enactSettlementPolicy.desc>Una politica se esta promulgando en todo tu asentamiento.</enactSettlementPolicy.desc>

<enactFactionPolicy.label>Promulgando una politica</enactFactionPolicy.label>
<enactFactionPolicy.desc>Una politica se esta promulgando en tu faccion.</enactFactionPolicy.desc>






</LanguageData>