<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>


<!-- Base Events -->
<settleNewColony.label>Formation d'une colonie</settleNewColony.label>
<settleNewColony.desc>Une caravane forme une nouvelle colonie.</settleNewColony.desc>

<taxColony.label>Règlement de taxe En-Route</taxColony.label>
<taxColony.desc>Une caravane apporte des impôts à votre capital.</taxColony.desc>

<constructBuilding.label>Construction d'un bâtiment</constructBuilding.label>
<constructBuilding.desc>Un nouveau bâtiment est en construction.</constructBuilding.desc>

<enactSettlementPolicy.label>Adopter une politique</enactSettlementPolicy.label>
<enactSettlementPolicy.desc>Une politique pour une Colonie est en cours d'adoption.</enactSettlementPolicy.desc>

<enactFactionPolicy.label>Adopter une politique</enactFactionPolicy.label>
<enactFactionPolicy.desc>Une politique pour la Faction est en cours d'adoption.</enactFactionPolicy.desc>


</LanguageData>