<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>


<!-- Base Events -->
<settleNewColony.label>Siedlungskarawane</settleNewColony.label>
<settleNewColony.desc>Eine Karawane bereitet sich darauf vor eine neue Siedlung zu gründen.</settleNewColony.desc>

<taxColony.label>Steuerkarawane</taxColony.label>
<taxColony.desc>Eine Karawane bringt die Steuereinnahmen zu deiner Hauptstadt.</taxColony.desc>

<constructBuilding.label>Gebäude im Bau</constructBuilding.label>
<constructBuilding.desc>Ein Gebäude befindet sich im Bau</constructBuilding.desc>

<enactSettlementPolicy.label>Vorschrift erlassen</enactSettlementPolicy.label>
<enactSettlementPolicy.desc>Eine Siedlungsweite Vorschrift wurde erlassen.</enactSettlementPolicy.desc>

<enactFactionPolicy.label>Vorschrift erlassen</enactFactionPolicy.label>
<enactFactionPolicy.desc>Eine Fraktionsweite Vorschrift wurde erlassen.</enactFactionPolicy.desc>






</LanguageData>