<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>


<!-- Base Events -->
<settleNewColony.label>Aseaza Colonie</settleNewColony.label>
<settleNewColony.desc>O caravana formeaza o noua colonie.</settleNewColony.desc>

<taxColony.label>Taxele asezari sunt pe drum</taxColony.label>
<taxColony.desc>O caravana aduce taxe la capitala.</taxColony.desc>

<constructBuilding.label>Construirea Cladirii</constructBuilding.label>
<constructBuilding.desc>O cladire se construieste</constructBuilding.desc>

<enactSettlementPolicy.label>Adopta o Reforma</enactSettlementPolicy.label>
<enactSettlementPolicy.desc>O reforma la nivelul asezamantului este luata.</enactSettlementPolicy.desc>

<enactFactionPolicy.label>Adopta o Reforma</enactFactionPolicy.label>
<enactFactionPolicy.desc>O reforma la nivelul factiunii este luata.</enactFactionPolicy.desc>






</LanguageData>