# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Empires.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\RimWorldMods\Empires\.idea\.idea.Empires.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
