<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>


<!-- Base Events -->
<settleNewColony.label>建立新的领地</settleNewColony.label>
<settleNewColony.desc>一队殖民者正在被派往新的领地.</settleNewColony.desc>

<taxColony.label>征收税金</taxColony.label>
<taxColony.desc>运送税金的队伍已经上路了.</taxColony.desc>

<constructBuilding.label>修建建筑</constructBuilding.label>
<constructBuilding.desc>一座建筑物正在建造中</constructBuilding.desc>

<enactSettlementPolicy.label>制定一个政策</enactSettlementPolicy.label>
<enactSettlementPolicy.desc>一个正在制定中的政策将于近日在领地内发布.</enactSettlementPolicy.desc>

<enactFactionPolicy.label>制定一个政策</enactFactionPolicy.label>
<enactFactionPolicy.desc>一个正在制定中的政策将于近日在派系内发布.</enactFactionPolicy.desc>






</LanguageData>