<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>


<!-- Base Events -->
<settleNewColony.label>Settle Colony</settleNewColony.label>
<settleNewColony.desc>A caravan is forming a new colony.</settleNewColony.desc>

<taxColony.label>Settlement Taxes En-Route</taxColony.label>
<taxColony.desc>A caravan is delivering taxes.</taxColony.desc>

<constructBuilding.label>Constructing Building</constructBuilding.label>
<constructBuilding.desc>A building is being constructed</constructBuilding.desc>

<enactSettlementPolicy.label>Enacting a Policy</enactSettlementPolicy.label>
<enactSettlementPolicy.desc>A settlement-wide policy is being enacted.</enactSettlementPolicy.desc>

<enactFactionPolicy.label>Enacting a Policy</enactFactionPolicy.label>
<enactFactionPolicy.desc>A faction-wide policy is being enacted.</enactFactionPolicy.desc>






</LanguageData>